@import "mixins";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: $bgGradient;
  color: $textColor;
  font-family: "Poppins", sans-serif;
}
header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: $textColor;
}

form button {
  color: #d88771;
  background: $textColor;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #d88771;
    color: $textColor;
  }
}
