@import "variables";
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  color: $orangeBg;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  &:after {
    content: "\25BC";
    position: absolute;
    background: $orangeBg;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  &:hover {
    &::after {
      background: white;
      color: $orangeBg;
    }
  }
}
